<div class="dynamic-info-section">
  <div class="text-content">
    <a
      class="headline-link"
      [href]="buttonLink"
      target="_blank"
      rel="noopener noreferrer"
    >
      <h2 class="headline" [innerHTML]="headline"></h2>
    </a>
    <p class="copy">{{ copy }}</p>
  </div>
  <div class="image-container">
    <img [src]="imageSrc" [alt]="imageAlt" />
    <a
      class="hover-link"
      [href]="buttonLink"
      target="_blank"
      rel="noopener noreferrer"
    >
      <mat-icon>open_in_new</mat-icon>
    </a>
  </div>
</div>
