<mat-toolbar>
  <img class="header-logo" src="assets/svg/HeaderLogo-dark.svg" />
  <div class="header-button-container">
    <button mat-button>
      <mat-icon>house</mat-icon>
      Home
    </button>
    <button mat-button>
      <mat-icon>handshake</mat-icon>
      Services
    </button>
    <button mat-button>
      <mat-icon>recent_actors</mat-icon>
      Portfolio
    </button>
    <button mat-fab extended class="secondary">
      <mat-icon>comment</mat-icon>
      Contact
    </button>
  </div>
</mat-toolbar>
