.header-button-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.header-logo {
  width: 200px;
  height: auto;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.spacer {
  display: none; // We don't need spacers with this layout
}

.contact-button {
  margin-left: auto;
}

@media (max-width: 768px) {
  .header-button-container {
    display: none;
  }
}
