<div class="contact-wrapper">
  <om-shine-border>
    <div class="contact-container">
      <ng-container *ngIf="!isSubmitted; else submittedTemplate">
        <h2>Contact Me</h2>
        <p>
          Have questions or want to work together? Fill out the form below, and
          I'll get back to you as soon as possible.
        </p>
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
          <input
            type="hidden"
            name="access_key"
            value="2b8771bc-263d-4fe9-b48c-e807b9f27255"
          />

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Name</mat-label>
            <input matInput type="text" name="name" ngModel required />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" ngModel required />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Message</mat-label>
            <textarea
              matInput
              name="message"
              rows="5"
              ngModel
              required
            ></textarea>
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!contactForm.valid"
          >
            Send Message
          </button>
        </form>
        <span *ngIf="result" class="form-result">{{ result }}</span>
      </ng-container>
      <ng-template #submittedTemplate>
        <om-cryptic-text
          class="cryptic-text"
          text="Response Received"
        ></om-cryptic-text>
        <p>
          Thank you for reaching out! Your message has been received, and I'll
          get back to you shortly.
        </p></ng-template
      >
    </div>
  </om-shine-border>
</div>
