/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@include mat.core();

$my-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$magenta-palette,
    ),
    typography: (
      plain-family: "M PLUS Rounded 1c",
      brand-family: "M PLUS Rounded 1c",
    ),
    density: (
      scale: 0,
    ),
  )
);
:root {
  @include mat.all-component-themes($my-theme);
  @include mat.system-level-colors($my-theme); // 👈 Added
  @include mat.system-level-typography($my-theme); // 👈 Added
  @include mat.typography-hierarchy($my-theme);
}
