<div style="height: 2rem"></div>
<app-info-section
  headline="lincoln-twp.org"
  copy="Redesigned and modernized the Lincoln Township website, transitioning it from an outdated web builder to a sleek, maintainable, and user-friendly platform. The new design prioritizes simplicity, accessibility, and clear communication of essential information."
  imageSrc="../../../../../assets/jpg/LincolnTownship.jpeg"
  imageAlt="Screenshot of the Lincoln Township website redesign"
  buttonLink="https://lincoln-twp.org"
></app-info-section>
<div style="height: 2rem"></div>
<app-info-section
  headline="github.com/KadenThomp36"
  copy="Checkout my github for a collection of my projects, including this website. I am always looking to expand my knowledge and skills, so feel free to reach out if you have any questions or suggestions."
  imageSrc="../../../../../assets/jpg/github.jpg"
  imageAlt="Github logo"
  buttonLink="https://github.com/KadenThomp36"
></app-info-section>
